@import "../../../scss/base.scss";

.sidebar-container {
  text-align: left;

  @media only screen and (max-width: 767px) {
    text-align: center;
  }

  .menu-name {
    padding: 10px;
  }

  .sidebar-menu {
    text-align: left;
    margin-top: 5%;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }

    div {
      border: 0.1px solid grey;
      border-radius: 5px;
      padding: 2%;
      width: 50%;
      margin-top: 5%;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        // border: 1px solid red;
      }

      @media only screen and (max-width: 767px) {
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 5%;
      }

      &:hover {
        background-color: #f7fafc;
        cursor: pointer;
      }
    }
  }
}
