@import "../../scss/base.scss";

.delete-modal-card {
  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
  }

  .cancelBtn {
    padding: 3% 8%;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
    border: none;
  }

  .deleteBtn {
    padding: 3% 5%;
    border-radius: 5px;
    background: none;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.closeBtn {
  margin-top: 5%;
  padding: 3% 8%;
  border-radius: 5px;
  background-color: $primary-color;
  color: white;
  border: none;
}
